@CHARSET "UTF-8";

/* html, body { */
/* 	height: 100%; */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */
body, p, legend, label, input {
	font: normal 8pt verdana, helvetica, sans-serif;
}

#page {
	/* 		width: 1200px; */
	height: 100%;
	background-color: #c5c5c5;
	margin: auto;
}

#divWaterfall {
	/* 	width: 1200px; */
	
}

header {
	/* 	width: 1200px; */
	
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type
	{
	padding-right: 0;
}

a {
	text-decoration: none;
}

main{
/* 	position: relative; */
}

.page-content {
	background-image: url("../ressources/seaside.jpg");
	background-size: cover;
	background-repeat: no-repeat;
/* 	position: fixed; */
}