@CHARSET "UTF-8";

body, p, legend, label, input {
	font: normal 8pt verdana, helvetica, sans-serif;
}

#page {
	width: 60%;
	min-height: 756px;
	margin: auto;
	background-color: transparent;
}

#divWaterfall {
	
}

header {
	
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type
	{
	padding-right: 0;
}

a {
	text-decoration: none;
}

main {
	
}

.page-content {
	background: url("../ressources/seaside.jpg") fixed no-repeat;
	background-size: cover;
	/* 	background-attachement: fixed; */
}

.maxi-card {
	width: 500px;
	margin: auto;
}

.maxi-card>.mdl-card__title {
	color: #fff;
	height: 200px;
}

.maxi-card>.mdl-card__menu {
	color: #fff;
}

.mini-cards {
	width: 100%;
	text-align: center;
}

.mini-card {
	width: 350px;
	display: inline-block;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2.5%;
	margin-bottom: 1.5%;
}

.mini-card>.mdl-card__title {
	color: #fff;
	height: 150px;
}

.mini-card>.mdl-card__menu {
	color: #fff;
}

#divTableDetails {
	width: 100%;
}

#tableDetails {
	width: 550px;
	margin: auto;
}

#tableDetails th {
	text-align: left;
}

#reserverButton {
	/* 	vertical-align: 50%; */
	/* 	display: block; */
	/* 	margin-top: auto; */
	/* 	margin-bottom: 5px;; */
	
}

#tableDetails td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}